<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028306842939-f0adgjskb0qtbtn3k58i1arh6en3tu81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028306842939-f0adgjskb0qtbtn3k58i1arh6en3tu81</string>
	<key>API_KEY</key>
	<string>AIzaSyCZxLoMOQ7pJfmdXCUbD4TQJ0ISgZoZWxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1028306842939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emcassi.MoodTracker</string>
	<key>PROJECT_ID</key>
	<string>moodtracker-c8ab5</string>
	<key>STORAGE_BUCKET</key>
	<string>moodtracker-c8ab5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028306842939:ios:4eb81ed000ab30f565731e</string>
</dict>
</plist>