<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>FredokaOne-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb500331752272740</string>
				<string>com.googleusercontent.apps.1028306842939-f0adgjskb0qtbtn3k58i1arh6en3tu81</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>500331752272740</string>
	<key>FacebookClientToken</key>
	<string>f8895f3e05eca7bc8805c789e50bf92a</string>
	<key>FacebookDisplayName</key>
	<string>Mood Tracker</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>GIDClientID</key>
	<string>1028306842939-f0adgjskb0qtbtn3k58i1arh6en3tu81.apps.googleusercontent.com</string>
</dict>
</plist>
